name: Release

on:
  create:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set Env
        run: |
          echo "runNumber=$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
          echo "tagName=`echo $(git describe --tags --abbrev=0)`" >> $GITHUB_ENV
          echo "previousTagName=`echo $(git --no-pager tag --sort=creatordate --merged ${{ github.ref_name }} | tail -2 | head -1)`" >> $GITHUB_ENV

      - name: Update ChangeLog
        id: changeLog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fromTag: ${{ env.tagName }}
          toTag: ${{ env.previousTagName }}
          writeToFile: false
          includeInvalidCommits: true
          excludeTypes: ""

      - name: Resolve Version
        run: |
          sed -i -r "s/code: [0-9]+/code: ${{ env.runNumber }}/g" config.gradle
          sed -i -r "s/name: 'v[0-9\\.]+'/name: '${{ env.tagName }}'/g" config.gradle
          echo "apkName=全剧得_`echo ${{ env.tagName }}_${{ env.runNumber }}`.apk" >> $GITHUB_ENV
          cat config.gradle

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Release with Gradle
        run: |
          ./gradlew assembleRelease
          ls app/build/outputs/apk/release/

      - name: Create Github Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          draft: true
          makeLatest: true
          name: ${{ env.tagName }}
          body: ${{ steps.changelog.outputs.changes }}
          artifacts: app/build/outputs/apk/release/*.apk
          token: ${{ secrets.RELEASE_TOKEN }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@359bebbc29cbe6c87da6bc9ea3bc930432750108
        with:
          ruby-version: '3.1'

      - name: install fir.im
        run: sudo gem install fir-cli

      - name: Upload to Fir.im
        run: |
          fir login ${{ secrets.FIR_TOKEN }}
          fir publish app/build/outputs/apk/release/*.apk -c "${{ steps.changelog.outputs.changes }}" --force-pin-history --open --specify-app-display-name=全剧得
